.product_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    min-height: 18rem;
}

.fill_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
